{% load staticfiles%}

<script src="{% static 'datatables/DataTables-1.10.16/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/DataTables-1.10.16/js/dataTables.bootstrap.min.js' %}"></script>
	
	<!-- For dataTables -->
	<script>
	
	$(document).ready( function () {
    		
	    $('#hotel_list').DataTable({
	    		"order": [[0, 'desc']]
	    });
	    
	  	//Guide  Filter
		$.ajax({ 
            url: "/flights/get_filtered_clients?trekking_status=0",
            type: 'get',
            success: function(response) {
            		data = JSON.parse(response);
                if(data) {
                		var $select = $('#client-list')
                		$select.empty()
                		$select.append($("<option></option>").attr("value", '').text("All Clients"));
					$.each(data, function(key, value) {
						$select.append($("<option></option>")
								.attr("value", key).text(value));
					})
                }
            }
    		})
    		
    		//Filtering for is_monitored
    	    $.fn.dataTableExt.afnFiltering.push(function(oSettings, aData, iDataIndex) {
    	    		var value = $('#client-list').find(":selected").text().trim();
    	    		if(value == "All Clients") {
    	    			return true
    	    		}
    	    		else if (aData[0].trim() == value) {
    	    			return true
    	    		}
    	    		return false
    	    });
    	    
    	    var oTable = $('#hotel_list').dataTable();
    	    
    	    $('#client-list').on("change", function(e) {
    	    		oTable.fnDraw();
    	    });
    	    
    		
	} );
	
	</script>